<div class="container">
	<h1>All Users</h1>
	<p class='success'><%= notice %></p>
	<% if signed_in? %>
		<p class='success'>Welcome, <%= current_user.first_name %>!</p>
		<p><%= link_to 'Logout', session_path(current_user), method: :delete, class: 'btn btn-primary' %></p>
	<% end %>
	<table>
		<thead>
			<tr>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Email Address</th>
			</tr>
		</thead>
		<tbody>
			<% @users.each do |user| %>
				<tr>
					<td><%= user.first_name %></td>
					<td><%= user.last_name %></td>
					<td><%= user.email %></td>
				</tr>
			<% end %>	
		</tbody>
	</table>

	<% if !signed_in? %>
		<p><%= link_to 'Register', new_user_path, class: 'btn btn-primary' %></p>
		<p><%= link_to 'Login', new_session_path, class: 'btn btn-primary' %></p>
	<% end %>
</div>