<div class="container">
	<h1>New User Registration</h1>
		<% if flash[:errors_register] %>
			<p>Please correct the following errors:</p>
			<% flash[:errors_register].each do |error| %>
				<p class='error'><%= error %></p>
			<% end %>
		<% end %>
	<%= simple_form_for @user do |f| %>
		<%=f.input :first_name %>
		<%=f.input :last_name %>
		<%=f.input :email %>
        <%=f.input :location%>
        <%= select_tag :state, options_for_select(us_states) %>
		<%=f.input :password %>
		<%=f.input :password_confirmation %>
		<%=f.button :submit, 'Register', class: 'btn btn-primary' %>
	<% end %>

	<p class='link'><%= link_to 'View All Users', users_path %></p>

</div>