<h1>Welcome!</h1>

<div id="container">
	<form action='/users/create' method='post'>
    	<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
      <h3>Register</h3>
    	<div>
    		<label>First Name:</label>
	    	<input type='text' name='create[first_name]'>
    	</div>
      <div>
    		<label>Last Name:</label>
	    	<input type='text' name='create[last_name]'>
    	</div>
	    <div>
      <div>
    		<label>Email:</label>
	    	<input type='text' name='create[email]'>
    	</div>
      <div>
    		<label>Location:</label>
	    	<input type='text' name='create[location]'>
    	</div>
	    	<label>State:</label>
		    <select name="create[state]" class="select">
				<option value="WA">WA</option>
				<option value="CA">CA</option>
				<option value="AZ">AZ</option>
				<option value="NY">NY</option>
        <option value="IL">IL</option>
				<option value="OH">OH</option>
			</select>
	    </div>
      <div>
    		<label>Password:</label>
	    	<input type="password" name='create[password_digest]'>
    	</div>
      <p>*Password should be at least 8 characters
      <%# <div>
    		<label>Confirm PW:</label>
	    	<input type='text' name='create[location]'>
    	</div> %>
		<div>
			<input type='submit' value='Register'>
		</div>
    </form>
</div>

<body>
<% if flash[:errors] %>
  <% flash[:errors].each do |e| %>
    <%= e %>
  <% end %>
<% end %>
<% if current_user %>
  <form action="/sessions/<%=current_user.id%>" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Log Out">
  </form>
<% end %> 
<%= yield %>

<div id="container2">
<h1>Please log in</h1>
<form action="/sessions" method="post">
  <input type="hidden" name:"authenticity_token" value"<%= form_authenticity_token %>">
    <p>
        <label>Email field</label>
        <input type="text" name="email">
    </p>
    <p>
        <label>Password field</label>
        <input type="text" name="password">
    </p>
    <input type="submit" value="Login">
</form>
</div>
</body>